.authors {
  height: 100vh;
  width: 100%;
  padding: 160px 0;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__top {
    width: 100%;
  }

  &__title {
    margin-bottom: 80px;
    text-align: center;
  }

  &__carousel {
    width: 100%;

    &-item {
      padding: 36px;
      width: 600px;
      display: flex;
      justify-content: space-between;
      column-gap: 40px;
      background-color: $dark-grey;

      &--left {
        width: 261px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &-img {
        width: 220px;
        height: 220px;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      margin-bottom: 40px;
    }

    &-btn {
      width: 40px;
      height: 40px;
      background-image: url("../../public/assets/media/btn_arrow.svg");
      border-radius: 50%;
    }
  }
}
