// Main colors

$dark: #222222;
$dark-grey: #333333;
$light-grey: #434343;
$white: #ffffff;
$white-grey: #d9d9d9;

$sh-1: #3b6467;
$sh-2: #3a8989;
$sh-3: #36a39e;
$sh-4: #00b9a7;
$sh-5: #33c1b3;
$sh-6: #9fe4df;
$sh-7: #d9f2ee;
$sh-8: #f5fcfc;

// Gray colors

$gr-1: #2c2c2c;
$gr-2: #383838;
$gr-3: #6a6a6a;
$gr-4: #838383;
$gr-5: #9c9c9c;
$gr-6: #b4b4b4;
$gr-7: #cdcdcd;
$gr-8: #e6e6e6;
$gr-9: #f4f4f4;
$gr-10: #a4a4a4;

// Accent colors

$orange-light: #f87650;
$orange-dark: #ff814a;

// Alternative colors

$blue: #45c2ce;
$orange: #ff6e2e;
$pink: #ff4e74;
$teal: #35d3ad;
$terrcotta: #ff814a;
$yellow: #ffcc4a;
$yellow-light: #fcd98a;
// $yellow-9: #fff6e4;
