@import "slick-carousel/slick/slick";
@import "slick-carousel/slick/slick-theme";
@import "./colors";
@import "./mixins";
@import "./fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  clear: both;
  outline: none;

  &:focus {
    outline: none;
  }
}

html,
body,
#root,
.app {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  //   min-width: 310px;
  height: 100%;
  //   min-height: 475px;
  display: block;
  font-family: "Gilroy", sans-serif;
  font-display: swap;
  color: $gr-9;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background-color: $dark;
}

section {
  position: relative;
  overflow-x: hidden;
}

.app-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 70px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

.container {
  position: relative;
  height: 100%;
  min-height: inherit;
  max-width: 1200px;
  margin: 0 auto;
}

@import "../components/Components.scss";
